body {
    background-color: #f1f5f8;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    height: 100%;
}

.card:hover {
    box-shadow: 0 4px 8px 0 black;
}

.newInv {
    background-color: #007bff;
    border-radius: 50%;
    bottom: 25px;
    font-size: 25px;
    padding: 25px;
    position: fixed;
    font-size: 20px;
    right: 25px;
    width: 70px;
    height: 70px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
 
}

.newInv:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    background: white;
    width: 100%;
    padding: 1rem 1.5rem;
    height: 100%;
    overflow-y: auto;
}

.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

select option {
    color: black !important;
    background-color: white !important;
  }